.txtcen{
    text-align: center;
}

.formMarg{
    margin: 0;
}

.btns{
    justify-content: center;
    display:flex;
}

.checkS{
    justify-content: center;
    display: flex;
}

.checkL{
    padding-left: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}