.bord{
    border-bottom: 2px solid black;
}

.tcen{
    text-align: center;
}

.totalbut{
    justify-content: flex-end;
    display: flex;
}

.totp{
    margin-right: 20px;
    margin-top: 10px;
}

.margbut{
    margin-right: 13px;
}

.marglet{
    margin-right: 2px;
}

.marginp{
    margin-left: 10px;
}

.buysButtons{
    display: flex;
    justify-content: space-between;
}

.marginb{
    margin-left: 50px;
}

.pMargin{
    margin-left: 63px;
}

.marginbuy{
    margin-right: 13px;
}

.margincancel{
    margin-right: 0px;
}